.btn-square-md {
    width: 45px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 45px !important;
    text-align: center;
    padding: 0 5px 5px 5px;
    font-size:25px;
    margin-right: 20px;
}

.select-drop{
    margin-right: 20px;
    margin-top: 20px;
    width: 30% !important;
    max-width: 100% !important;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.notshow {
    display: none;
}

.catlist {
    list-style: none;
}

.show {
    display: block;
}

button:focus {
    outline-color: black;
}

p {
    margin-bottom: 0px;
}

.fcc-btn {
    background-color: #e40505;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.fcc-btn:hover {
    background-color: #c22217;
    color: rgb(255, 255, 255);
}

.navbar-text {
    position: absolute;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}