{% extends 'template.html' %}

{% block header %}
  {% block title %}Modifica progetto{% endblock %}
{% endblock %}
{% block navbar %}Modifica progetto{% endblock %}
{% block content %}
  <br/>
  <br/>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modifica progetto</p>
                <form action ="{{ url_for('edit_projectMVE_data') }}"method = "POST" enctype="multipart/form-data">
                  <input type="hidden" class="form-control" id="id-project" name="id-project" value="{{ data[0] }}" required>
                  <div class="mb-3">
                    <label class="form-label">Nome progetto</label>
                    <input type="text" class="form-control" id="name-project" name="name-project" value="{{ data[1] }}" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Descrizione progetto</label>
                    <textarea class="form-control" id="desc-project" name="desc-project" rows="3"required>{{ data[2] }}</textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Immagine descrittiva</label>
                    <div>
                      <img id="target"src="{{url_for('static',filename = data[3])}}"  width="100" height="70">
                      <br/><br/>
                      <input class="form-control" type="file" id="img-project" name="img-project">
                      <img id="target"/>
                    </div>
                    
                  </div>
                  <div class="col text-center">
                    <input type="submit" value="Salva modifiche" class="btn btn-primary"/><br/>
                  </div>
                  <br/>
                  <div class="col text-center">
                    <a href="{{ url_for('delete_projectMVE', id=data[0]) }}" class="fcc-btn" onclick="return confirm('Sei sicuro di voler eliminare questo progetto MVE? Verranno eliminati anche i progetti CVAT (e relativi task) ad esso associati')">Elimina progetto MVE</a>
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
              
              <div class="card box-scrollable">
                <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                  
                  <b>Predizioni</b>
                  
                </div>
                <div class="card-body">
                
                  
                  <div class="scrollable">
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Nome</th>
                          <th scope="col">Righe</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {%for prediction in predictions%}
                          <tr>
                            <th scope="row">{{prediction['IdPrediction']}}</th>
                            <td>{{prediction['Name']}}</td>
                            <td>{{prediction['rows']}}</td>
                            <td style="text-align: center;"><a href="{{ url_for('delete_prediction', id=prediction['id'], prj_id=id) }}" onclick="return confirm('Sei sicuro di voler eliminare questa predizione?')"><img src="{{url_for('static',filename = 'data/icons/delete-icon.png')}}"  style="margin-bottom: 2px;"width="15" height="15"></a></td>
                          </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <script>
    function showImage(src,target) {
      var fr=new FileReader();
      // when image is loaded, set the src of the image where you want to display it
      fr.onload = function(e) { target.src = this.result; };
      src.addEventListener("change",function() {
        // fill fr with image data    
        fr.readAsDataURL(src.files[0]);
      });
    }

    var src = document.getElementById("img-project");
    var target = document.getElementById("target");
    showImage(src,target);
  </script>
{% endblock %}