{% extends 'template.html' %}

{% block header %}
  {% block title %}Home{% endblock %}
{% endblock %}

{% block navbar %}Progetti MVE{% endblock %}

{% block content %}

    <br/>
    <a href="{{ url_for('new_projectMVE') }}"><input type="button" value="Nuovo progetto MVE" class="btn btn-dark float-end" style="margin-right: 20px;"></input></a>
    <br/><br/>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            
                            <!--<div class="col-md-10 col-lg-6 order-2 order-lg-1">-->
                                    {% if (projectsMVE  == [])%}
                                    Nessun progetto esistente
                                    {%endif%}
                                    {% for projectMVE in projectsMVE %}

                                    <div class="card" style="padding-left: 0; padding-right:0;">
                                        <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                                            <img src="{{url_for('static',filename = projectMVE[3])}}"  width="100" height="70">
                                            <!--<p style="color: grey;margin-bottom: 0px;">{{projectMVE[0]}}</p> -->
                                            <p style="text-align: center;margin: 0px 0px 0px;">{{projectMVE[1]}}<br/>Descrizione: {{projectMVE[2]}}</p>
                                            <p style="margin: 0px 0px 0px;">
                                              <a href="{{ url_for('edit_projectMVE', id=projectMVE[0]) }}" style="margin-right: 10px;"><img src="{{url_for('static',filename = 'data/icons/edit-icon.png')}}"  width="25" height="25"></a>
                                              <button type="button" data-toggle="collapse" class="btn btn-info down"><img src="{{url_for('static',filename = 'data/icons/ad.png')}}"  width="25" height="25"></button>
                                            </p>
                                            
                                        </div>
                                    
                                        <div id="collapseOne" class="collapse in notshow" aria-labelledby="headingOne">
                                            <div class="card-body">
                                              <div>
                                                
                                                <a class="btn btn-primary" href="{{ url_for('new_projectCVAT', id_prj_MVE=projectMVE[0], name_prj_MVE=projectMVE[1]) }}" role="button">Nuovo progetto CVAT</a>                                                
                                                <!--<a class="btn btn-primary" href="{{ url_for('upload_truth', id=projectMVE[0]) }}" role="button">Carica verità</a>
                                                <a class="btn btn-primary" href="{{ url_for('upload_prediction', id=projectMVE[0]) }}" role="button">Carica predizioni</a> 
                                                <a class="btn btn-outline-primary float-end" href="{{ url_for('compare', id=projectMVE[0]) }}" role="button">Confronta</a>-->
                                                
                                                <button class="btn btn-primary dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Azioni
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="{{ url_for('upload_truth', id=projectMVE[0]) }}">Carica verità</a></li>
                                                    <li><a class="dropdown-item" href="{{ url_for('download_truth', id=projectMVE[0]) }}">Scarica verità</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="{{ url_for('upload_prediction', id=projectMVE[0]) }}">Carica predizioni</a></li>
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{projectMVE[0]}}">Scarica predizioni</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="{{ url_for('compare', id=projectMVE[0]) }}">Confronta</a></li>
                                                </ul>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal{{projectMVE[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel{{projectMVE[0]}}">Seleziona predizione</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="tab-pane fade show active" id="pills-pred" role="tabpanel" aria-labelledby="pills-pred-tab">
                                                                <form  action ="{{ url_for('download_pred', id=projectMVE[0]) }}"method = "POST" enctype="multipart/form-data">
                                                                  <div class="row justify-content-center">
                                                                    <select class="form-select select-drop-compare" id="select-prediction" name="select-prediction" aria-label="Default select example">
                                                                      {% for pred in predictions %}
                                                                        {% if pred['IdProjectMVE'] == projectMVE[0]%}
                                                                        <option value="{{pred['IdPrediction']}}">{{pred['IdPrediction']}}, {{pred['Name']}}</option>  
                                                                        {% endif %}
                                                                      {% endfor %}
                                                                      
                                                                    </select>
                                                                  </div>
                                                                  <br/>
                                                                  <div class="row justify-content-center">
                                                                    <div class="col-4 text-center">
                                                                      <input id="submit-pred" type="submit" value="Scarica" class="btn btn-primary"/><br/>
                                                                    </div>
                                                                  </div>
                                                                </form>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>


                                              </div>
                                              <div>
                                                {% for pCVAT in projectsCVAT %}
                                                {%if (pCVAT['id_MVE']==projectMVE[0])%}
                                                  <hr>
                                                  <div class="d-flex justify-content-between align-items-center">
                                                    <img src="{{url_for('static',filename = pCVAT['img'])}}" style="margin-left: 30px;" width="100" height="70">
                                                    <!--<p style="color: grey; margin-bottom: 0px;">{{pCVAT['id_CVAT']}}</p> -->
                                                    <p style="text-align: center; margin: 0px 0px 0px;">{{pCVAT['name']}}</p>
                                                    <p style="margin: 0px 0px 0px;">Numero task: {{pCVAT['nTask']}}<br/>Numero immagini: {{pCVAT['nImages']}}</p>
                                                    <a href="{{ url_for('project', id=pCVAT['id_CVAT']) }}"> <input type="button" value="Apri" class="btn btn-secondary float-end" style="font-size: 15px;margin-right: 30px;"></input></a>                                                
                                                  </div>
                                                  {%endif%}
                                              {%endfor%}
                                              </div>
                                       
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            <!--</div>-->
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <script>
        $('[data-toggle="collapse"]').click(function () {
            
            if (this.classList.contains('down')) {
                this.classList.remove('down');
                this.classList.add('up');
                $(this).find('img').remove();
                $(this).append('<img src="{{url_for("static",filename = "data/icons/au.png")}}" width="25" height="25"/>')
            } else if (this.classList.contains('up')) {
                this.classList.remove('up');
                this.classList.add('down');
                $(this).find('img').remove();
                $(this).append('<img src="{{url_for("static",filename = "data/icons/ad.png")}}" width="25" height="25"/>')
            }

            $(this).closest('.card').find('.notshow').addClass('nohide').toggle();
            $('.notshow').each(function() {
                if(!$(this).hasClass('nohide')){
                    $(this).hide();
                }
            });

        });

        
       /* $('[data-toggle="collapse"]').click(function () {
            $(this).next('.card-body').collapse('toggle');
        });*/
    </script>

    {% endblock %}