{% extends 'template.html' %}

{% block header %}
  {% block title %}Project{% endblock %}
{% endblock %}

{% block navbar %}Progetto CVAT{% endblock %}

{% block content %}
    
    <br/>

    <br/>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">

            {%if (info=="progetto non esistente")%}
              <div>
                <select class="form-select select-drop float-end" id="select-project" aria-label="Default select example">
                  <option disabled selected value> -- seleziona un progetto -- </option>
                  {% for projectMVE in projectsMVE %}
                    <optgroup label="MVE {{projectMVE[1]}}">

                    {% for pCVAT in projectsCVAT %}
                      {%if (pCVAT['id_MVE']==projectMVE[0])%}
                        
                      <option value="{{pCVAT['id_CVAT']}}">CVAT {{ pCVAT['name']}}</option>  

                        
                      {%endif%}
                    
                    {%endfor%}
                  </optgroup>
                  {% endfor %}
                  
                </select>
              </div>

              <div class="card-body p-md-5">
                Il progetto {{id}} non esiste, selezionane uno esistente
              </div>

            {%else%}

              <div>
                <select class="form-select select-drop float-end" id="select-project" aria-label="Default select example">
                  {% for projectMVE in projectsMVE %}
                    <optgroup label="MVE {{projectMVE[1]}}">

                    {% for pCVAT in projectsCVAT %}
                      {%if (pCVAT['id_MVE']==projectMVE[0])%}
                        {%if (pCVAT['id_CVAT']|int== id|int)%}
                        <option value="{{pCVAT['id_CVAT']}}" selected>CVAT {{ pCVAT['name']}}</option>  
                        {%else%}
                        <option value="{{pCVAT['id_CVAT']}}">CVAT {{ pCVAT['name']}}</option>  
                        {%endif%}
                        
                      {%endif%}
                    
                    {%endfor%}
                  </optgroup>
                  {% endfor %}
                  
                </select>
              </div>

              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10">
                    <a class="btn btn-primary" href="{{ url_for('upload', id=id) }}" role="button">Carica immagini</a>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-10">

                    <div class="card box-scrollable">
                      <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                        
                        <b>Task</b>
                        
                      </div>
                      <div class="card-body">
                      
                        
                        <div class="scrollable">
                          
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Immagini</th>
                                <th scope="col">Data</th>
                                <th scope="col">Ora</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              {%for task in tasks%}
                                <tr>
                                  <th scope="row">{{task['id']}}</th>
                                  <td>{{task['name']}}</td>
                                  <td>{{task['size']}}</td>
                                  <td>{{task['date']}}</td>
                                  <td>{{task['time']}}</td>
                                  <td style="text-align: center;"><a href="{{ url_for('delete_task', id=task['id'], prj_id=id) }}" onclick="return confirm('Sei sicuro di voler eliminare questo task?')"><img src="{{url_for('static',filename = 'data/icons/delete-icon.png')}}"  style="margin-bottom: 2px;"width="15" height="15"></a></td>
                                </tr>
                              {%endfor%}
                            </tbody>
                          </table>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
                <br/>
                <div class="row text-center">
                  <div class="">
                    <a href="{{ url_for('delete_projectCVAT', id=id) }}" class="fcc-btn" onclick="return confirm('Sei sicuro di voler eliminare questo progetto CVAT? Verranno eliminati anche i task ad esso associati')">Elimina progetto CVAT</a>
                  </div>
                </div>
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    <script>
      
      $(function(){
        // bind change event to select
        $('#select-project').on('change', function () {
            var url = $(this).val(); // get selected value
            
            if (url) { // require a URL
                window.location = "/project/"+url; // redirect
            }
            return false;
        });
      });
    </script>
{% endblock %}