{% extends 'template.html' %}

{% block header %}
  {% block title %}Caricamento immagini{% endblock %}
  {% block link %}
  <link rel="stylesheet" href="../static/css/upload_img.css">
  {% endblock %}
{% endblock %}

{% block navbar %}Caricamento immagini{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <form action ="{{ url_for('uploader', id=id) }}"method = "POST" enctype="multipart/form-data">
                
                <div class="mb-3">
                  <label class="form-label">Nome Task</label>
                  <input type="text" class="form-control" id="name-task" name="name-task" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Filtro</label>
                  <input type="text" class="form-control" id="filter-regex" name="filter-regex">
                </div>
                <div class="picker"><input type="file" class="form-control" id="picker" name="fileList" webkitdirectory directory multiple required/></div>
                <input type="hidden" name="uuid">
                <br/>
                <input id="submit-btn" type="submit" value="Carica file" onclick="loading();"class="btn btn-primary"/><br/>
            </form>
            <br/>
            <div id="loading" style="display:none; align-items:center; justify-content:center;"><img src="{{url_for('static',filename = 'data/icons/loading.gif')}}" alt="" width="100" height="100"/></div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<br/>
<div class="container testimonial-group">
  <div id="gallery" class="row gallery">
    <!-- Append delle immagini -->
  </div>
</div>
<br/>
<div class="alert alert-secondary" role="alert" id="info-regex" style="display:none; margin-left: 40px; margin-right: 40px">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>

  var uuid = Math.random().toString().replace("0.", "")
  $('input[type=hidden]').val(uuid)
  let picker = document.getElementById('picker');
  let array_files;
  
  picker.addEventListener('change', e => {
    array_files = Array.from(e.target.files);
    preview_images(array_files);   
  });
  
  const input_regex = document.getElementById('filter-regex');

  input_regex.addEventListener('change', (event) => {
    preview_images(array_files);
  });

  function preview_images(array) {

    let files = [];
    let files_regex_name = [];
    let files_regex_path = [];
    const reg_input = document.getElementById("filter-regex").value;
    var reg = new RegExp(reg_input);
    var count = 0;
    const gallery = document.getElementById("gallery");  
    const info_regex = document.getElementById("info-regex");  

    if (gallery!==null) {
      gallery.replaceChildren();
    }

    if (info_regex!==null) {
      info_regex.replaceChildren();
      info_regex.style.display === "none"
    }

    files = array;
    
    for (var i = 0; i < files.length; i++) {
        if (reg.test(files[i].name) && checkExtension(files[i].name)) {
            files_regex_name.push(files[i].name);
            files_regex_path.push(files[i].webkitRelativePath);
        }
    }
    
    const data = { data: files_regex_path, uuid: uuid };
    $.ajax({
        url: '{{url_for("get_regex_file")}}',
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify(data),
        contentType:"application/json; charset=UTF-8"
    })
    
    if (typeof array_files !== 'undefined') {

      for (var i = 0; i < array_files.length; i++) {
        
        if (count == 10) break;

        if (files_regex_name.includes(String(array_files[i].name)) == true) {

          count++;
          
          // create Blob-URL for File (=Blob) object
          var url = (URL || webkit).createObjectURL(files[i]);
          
          $( "#gallery" ).append('<div class="images-gallery"><img src="'+url+'" width="130" height="100"></div>');
        }
      }
      if (info_regex.style.display === "none") {
        info_regex.style.display = "flex";
      }
      $( "#info-regex" ).append('Numero di immagini che soddisfano il filtro: '+files_regex_name.length+" su "+files.length)
    }
  }

  function checkExtension(filename) {
    const ext = filename.split('.').pop();
    ext.toLowerCase();
    if (ext!='bmp' && ext!='png' && ext!='jpeg' && ext!='svg' && ext!='avif' && ext!='apng' && ext!='gif' && ext!='ico' && ext!='tiff') {
      return false;
    }
    return true;
  }

  const filler = document.getElementById("loading");  
  function loading() {
    //use on form
    if ($('form')[0].checkValidity()) {
      if (filler.style.display === "none") {
        filler.style.display = "flex";
      } else {
        filler.style.display = "none";
      }
    }
    
  } 

  function galleryImages(imgs) {
    // Get the expanded image
    var expandImg = document.getElementById("expandedImg");
    // Get the image text
    var imgText = document.getElementById("imgtext");
    // Use the same src in the expanded image as the image being clicked on from the grid
    expandImg.src = imgs.src;
    // Use the value of the alt attribute of the clickable image as text inside the expanded image
    imgText.innerHTML = imgs.alt;
    // Show the container element (hidden with CSS)
    expandImg.parentElement.style.display = "block";
  }

      
</script>
{% endblock %}