{% extends 'template.html' %}

{% block header %}
  {% block title %}Upload images{% endblock %}
{% endblock %}

{% block content %}
<br/>
    <form action ="{{ url_for('uploader') }}"method = "POST" enctype="multipart/form-data">
        <div class="picker"><input type="file" id="picker" name="fileList" webkitdirectory directory multiple/></div>
        <input type="hidden" name="uuid" >
        <br/>
        <input type="submit" value="Process Files" class="btn btn-primary"/><br/>
    </form>
    
    <script src='../static/js/main.js' type="text/javascript" ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
        
        var uuid = Math.random().toString().replace("0.", "")
        $('input[type=hidden]').val(uuid)

        let picker = document.getElementById('picker');
        let files = []
        
        picker.addEventListener('change', e => {
        for (let file of Array.from(e.target.files)) {
            files.push(file.webkitRelativePath);
        };
        });

    </script>
{% endblock %}